In [206]:
import pandas as pd
#from scipy import stats
import numpy as np
#import matplotlib.pyplot as plt
import pandas as pd
#%matplotlib inline
from datetime import timedelta

In [207]:
censoreddf = pd.read_excel("Censored meters details.xlsx")

In [208]:
censoreddf['Starts from'] = pd.to_datetime(censoreddf['Starts from'], format='%Y-%m-%d')

In [209]:
censoreddf.set_index('Starts from', inplace=True)

In [210]:
gscoredf = pd.read_csv("Results/K=9_CP_Scores-2901.csv")

In [211]:
gscoredf.head()

    Main date  Distance  Gaussian Score       MeterID
0  2019-12-01  0.000000        0.000000  KOL-22812974
1  2019-12-02  1.905000        0.103570  KOL-22812974
2  2019-12-03  1.535250        0.000000  KOL-22812974
3  2019-12-04  1.752167        0.027129  KOL-22812974
4  2019-12-05  1.316875        0.000000  KOL-22812974

In [212]:
#df_result_analysis = pd.DataFrame(columns = ['MeterID', 'Installation date','Before Inst date','After Inst date'])

In [213]:
#censoreddf = censoreddf[:200]

In [221]:
df_result_analysis = pd.DataFrame(columns = ['MeterID', 'Installation date','Before Inst date','After Inst date'])
for mid in censoreddf['MeterID']:
    tdf=gscoredf[gscoredf['MeterID']==mid]
    tdf['Main date'] = tdf['Main date'].str[:10]
    tdf['Main date'] = pd.to_datetime(tdf['Main date'], format='%Y-%m-%d')
    tdf.set_index('Main date', inplace=True)
    datemid = censoreddf[censoreddf['MeterID'] == mid]
    dt1 = datemid.index
    #dt2 = dt1 - timedelta(days = 1)
    dt1 = pd.to_datetime(dt1, format='%Y-%m-%d')[0]
    #dt2 = pd.to_datetime(dt2, format='%Y-%m-%d')[0]
    ddt1 = tdf[tdf.index < dt1].iloc[:,1].to_numpy()
    ddt2 = tdf[tdf.index >= dt1].iloc[:9,1].to_numpy()
    cdt1 = np.count_nonzero(ddt1 >= 0.9)
    cdt2 = np.count_nonzero(ddt2 >= 0.9)
    df_result_analysis = df_result_analysis.append({'MeterID': mid, 'Installation date': dt1,'Before Inst date': cdt1,'After Inst date': cdt2}, ignore_index = True)
df_result_analysis.to_excel("Results/K=9_different threshold/K=9_Result analysis_0.9.xlsx", index=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [95]:
df1 = pd.read_csv("Results/K=9_CP_Scores-2901.csv")

In [147]:
df2 = pd.read_csv("Results/K=13_CP_Scores-200.csv")

In [148]:
mids_200 = df2['MeterID'].unique()

In [149]:
len(mids_200)

200

In [150]:
df_f1 = df1[~df1["MeterID"].isin(mids_200)]

In [151]:
df_f1

          Main date   Distance  Gaussian Score       MeterID
0        2019-12-01   0.000000        0.000000  KOL-22812974
1        2019-12-02   1.905000        0.103570  KOL-22812974
2        2019-12-03   1.535250        0.000000  KOL-22812974
3        2019-12-04   1.752167        0.027129  KOL-22812974
4        2019-12-05   1.316875        0.000000  KOL-22812974
...             ...        ...             ...           ...
2259285  2020-12-27  12.073059        0.469770  KOL-23257526
2259286  2020-12-28  13.712711        0.631037  KOL-23257526
2259287  2020-12-29  13.044163        0.569314  KOL-23257526
2259288  2020-12-30  11.900719        0.450958  KOL-23257526
2259289  2020-12-31  10.944163        0.340958  KOL-23257526

[2104432 rows x 4 columns]

In [152]:
df_f1.nunique()

Main date            397
Distance          840296
Gaussian Score    411628
MeterID             2703
dtype: int64

In [153]:
fdf = df2.append(df_f1)

In [154]:
fdf.nunique()

MeterID             2903
Main date            397
Distance          916411
Gaussian Score    441081
dtype: int64

In [155]:
fdf.to_csv("Results/K=13_CP_Scores-2901.csv", index=False)